# Домашнее задание №11.
## Библиотека pandas
**Выполнил: Шармашкеев Б.В.**

In [4]:
import pandas as pd

### Задание 1.
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

#### Загрузка данных и обзор дата фреймов

In [5]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

#### Выполнение задания

In [65]:
ratings_flt = ratings[(ratings['rating']==5)].drop(columns=['userId', 'timestamp']
                                                  ).groupby('movieId').count().sort_values('rating', ascending=False)
ratings_flt.merge(movies.drop(columns='genres'), on='movieId', how='left').rename(columns={'rating': 'rating_5.0_counter'}).head(1)

   movieId  rating_5.0_counter                             title
0      318                 153  Shawshank Redemption, The (1994)

### Задание 2.
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

#### Загрузка данных и обзор дата фреймов

In [18]:
p = pd.read_csv('power.csv')
p.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [21]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

#### Выполнение задания
Судя по времени выполнения, получается, что 2 вариант предпочтительнее, но первый вариант более универсальный, например для использования данного кода в функциях. Прокомментируйте, если несложно.

In [45]:
# Вариант 1
%%time

baltic = ['Estonia', 'Latvia', 'Lithuania']
ctg =[4, 12, 21]
p_flt = p.loc[ (p['country'].isin(baltic)) & (p['category'].isin(ctg)) 
              & (p_flt['year'] >= 2005) & (p_flt['year'] <= 2010) & (p_flt['quantity']>=0)]
qty_sum = p_flt['quantity'].sum()
print(f"Суммарное потребление стран Прибалтики (кат. 4, 12 и 21) \nза период с 2005 по 2010год: {qty_sum}")

Суммарное потребление стран Прибалтики (кат. 4, 12 и 21)
за период с 2005 по 2010год: 240580.0
Wall time: 1.36 s

In [46]:
# Вариант 2
%%time

p_flt = p[ (p['country']=='Estonia') | (p['country']=='Latvia') | (p['country']=='Lithuania') ]
p_flt = p_flt[ (p_flt['category']==4) | (p_flt['category']==12) | (p_flt['category']==21) ]
p_flt = p_flt[ (p_flt['year'] >= 2005) & (p_flt['year'] <= 2010) & (p_flt['quantity']>=0) ]
qty_sum = p_flt['quantity'].sum()
print(f"Суммарное потребление стран Прибалтики (кат. 4, 12 и 21) \nза период с 2005 по 2010год: {qty_sum}")

Суммарное потребление стран Прибалтики (кат. 4, 12 и 21)
за период с 2005 по 2010год: 240580.0
Wall time: 394 ms

### Задание 3.
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [48]:
import re

In [62]:
h = pd.read_html('http://acsystem.ru/produkciya/prays_list/programmiruemye-logicheskie-kontrollery/programmiruemye-kontrollery-sshneider-electric/modicon-m171-m172/')[0]
h.rename(columns={0: 'Наименование', 1: 'Цена,руб.'}, inplace=True)
h['Цена,руб.'] = h['Цена,руб.'].str.replace(r'\D','').astype(float)
h.head()

                                 Наименование  Цена,руб.
0    Логический контроллер Modicon TM171OD14R     8382.0
1   Логический контроллер Modicon TM171OBM14R     8520.0
2    Логический контроллер Modicon TM171PFE03    18160.0
3  Логический контроллер Modicon TM171PFE03HR    19402.0
4   Логический контроллер Modicon TM172PDG28R    23288.0